# local bucket data
bucket/*

# local credentials
credentials/*

# python virtual env
ingestion/env/*

# makefile execution
.container_bash_history

# dbt files
transformation/.*
transformation/logs/*
transformation/dbt_packages/*
transformation/target/*
transformation/profiles.local.yml